html{
    font-family: Verdana, Arial, 'sans-serif' !important;/* <-- fonts */
    font-size : 11pt !important;
}

body {
    color: navy;
    background-color: #F0F0F0;

}

input[type=text] {
    font-size: 10pt;
    padding: 0;

}



table tr td {
    vertical-align: top;
}

table   {
    border-spacing: 0;
    border-collapse: collapse;
}

