@CHARSET "UTF-8";

* {
	font-family: Verdana, Arial, 'sans-serif' !important;/* <-- fonts */
	font-size : 10pt !important;
}

table.header{
	border-bottom: 1px solid black;
	width: 19cm !important;

}


div.footerDiv {
	position: absolute;
	top : 287mm;
}

table.footer {
	border-top: 1px solid black;
	width: 19cm !important;
}

table.header tr td {
	font-family:Arial;
	font-weight: bold;
	font-size:24pt !important;

}

div.page {
	display:block;
	width: 19cm;
	height : 29.7cm;
	position :relative;
	overflow: hidden;
    clear            : both;
}

p.firstPage {
	position: absolute;
	top: 40px;
	text-align   : center;
	padding-top  :300px;
	font-weight  : bold;
	font-size    : 11pt;
}

p.spacer {
	line-height: 40px;
}

div.last {
	page-break-after: avoid; 
}

table {
   width: 16.6cm !important;
}

h1 {
	font-size: 14pt;
	text-align:center;
}

span.undelinedBold {
  display: block;
  overflow: hidden;
  text-decoration: underline;
  font-weight: bold;
}


li {
		 margin-left: 0px !important;
}
ol li{ 
  margin-left: 0px !important;
}


table tr td {
	vertical-align: top;
}